.header {
	height: 210px;
	position: fixed;
	background-color: #3F6AE6;
	width: 100%;
	color: white;
	z-index: 1;
}

.header-message {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.header-message-container{
	padding-left: 0; 
	padding-right: 0;
}

.header-message select{
	margin-left: 15px; 
	margin-right: 15px;
	border: 0;
}

.header-message input{
	margin-left: 15px;
	margin-right: 15px;
	border: 0;
}

.header-message button{
	width: 100%;
	margin-left: 15px; 
	margin-right: 15px; 
	border: 0;
}

.grade{
	font-size: 50px;
	font-weight: bold;
	color: #3F6AE6;
}

.grade-container{
	z-index: -1;
	display: none;
}

.first-container{
	padding-top: 225px;
}

.second-container{
	padding-top: 15px;
}

.student-info-container{

	z-index: -1;
	display: none;

}

.card-body td{
	border: 0;
}

.subject-title{
	font-size: 13px;
	font-weight: bold;
}

.student-info-table{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.student-info-table td{
	padding: 0;
}

.subject-code{
	font-size: 12px;
}

.subject-grade{
	font-size: 25px;
	color: #3F6AE6;
	font-weight: bold;
}

.card{
	height: auto;
}

.grade-container{
	margin-bottom: 15px;
}

.gpa-row{
	font-size: 20px;
	background-color: #FF9800;
	color: white;
	font-weight: bold;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.card table{
	margin-bottom: 0;
}

.card table:first-child tr:first-child td:first-child{ 
	border-top-left-radius: 5px;
}

.card table:first-child tr:first-child td:last-child{ 
	border-top-right-radius: 5px;
}

.card table:last-child tr:last-child td:first-child{ 
	border-bottom-left-radius: 5px;
}

.card table:last-child tr:last-child td:last-child{ 
	border-bottom-right-radius: 5px;
}

/* CHECKBOX */

/* Customize the label (the container) */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #ccc;
	border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #3F6AE6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Loader */
.loader{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.8;
	z-index: 999;
	display: none;
	align-items: center;
	justify-content: center;
}

.img-loader{
	z-index: 1000;
	height: 100px;
}

.marks-badge{
	margin-top: 5px;
}